{% extends 'body.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    OTP
                </div>
                <div class="card-body">
                    {% for field in login_form %}
                    <div class="form-group">
                        <label class="control-label">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}