{% extends 'body.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form method="POST">{% csrf_token %}
                        {% for field in login_form %}

                        {% if field.label != "Otp" %}
                        <div class="form-group">
                            <label class="control-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                        {% endif %}

                        {% endfor %}
                        {% if otp_sent %}
                        <div class="form-group">
                                <label for="{{ login_form.otp.id_for_label }}"
                                class="control-label">{{ login_form.otp.label }}</label>
                                <input class="form-control" type="password" id = 'otp' name='otp'>
                                <div class="content-section" id="VirtualKey">
                                    <div id="form1" runat="server"><br/>
                                        <p>Virtual Keyboard</p>
                                                <input id="button1" type="button" class="Button" value ="1" onclick="input(this);"/> 
                                                <input id="button2" type="button" class="Button" value ="2" onclick="input(this);" />
                                                <input id="button3" type="button" class="Button" value ="3" onclick="input(this);" />
                                                <br />
                                                <input id="button4" type="button" class="Button" value ="4" onclick="input(this);" />
                                                <input id="button5" type="button" class="Button" value ="5" onclick="input(this);" />
                                                <input id="button6" type="button" class="Button" value ="6" onclick="input(this);" />
                                                <br />
                                                <input id="button7" type="button" class="Button" value ="7" onclick="input(this);" />
                                                <input id="button8" type="button" class="Button" value ="8" onclick="input(this);" />
                                                <input id="button9" type="button" class="Button" value ="9" onclick="input(this);" />
                                                <br />
                                                <input id="button0" type="button" class="Button" value ="0" onclick="input(this)" />
                                                <input id="buttonDelete" type="button" class="ButtonDl" value="Delete" onclick="del();" />
                                                    
                                    </div>
                                </div>
                        </div>
                        {% endif %}

                        {% if user_none %}
                        <div class="alert alert-danger">
                            <strong>Invalid credentials or user does not exist.</strong>
                        </div>
                        {% endif %}

                        {% if inactive %}
                        <div class="alert alert-danger">
                            <strong>The account is not active yet.</strong>
                        </div>
                        {% endif %}

                        {% if not user_none %}
                        {% for error in login_form.non_field_errors %}
                            {% if error == "Invalid OTP." %}
                            <div class="alert alert-danger">
                                <strong>Invalid OTP.</strong> <br/>
                            </div>
                            {% endif %}
                            {% if error == "Enter OTP you received via text" %}
                            <div class="alert alert-success">
                                <strong>Enter OTP you received via text</strong> <br/>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}

                        <button style="margin-bottom: 10px" type="submit" class="btn btn-primary">Login</button>
                        <br>
                        <p> <a href="/accounts/password_reset">Forgot password?</a></p>
                        <p> <a href="/accounts/register">Sign up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function load() {
        // Create a array for the random number.
        var array = new Array();

        while (array.length < 10) {
            // Get a random number from 0 to 9 via Math.random().
            var temp = Math.round(Math.random() * 9);
            // Check if the random number is contained in the array.               
            if (!contain(array, temp)) {
                // insert it into the array.
                array.push(temp);
            }
        }

        for (i = 0; i < 10; i++) {
            // Get the button and set its value to the random number.
            var btn = document.getElementById("btn" + i);
            btn.value = array[i];
        }
    }

    function contain(array, num) {
        // Check if the random number is contained in the array.    
        for (var i = 0; i < array.length; i++) {
            if (array[i] == num) {
                return true;
            }
        }
        return false;
    }

    function input(e) {
        // Get the TextBox object.
        var tbInput = document.getElementById("otp");

        // As e is the button, its value is the text on it.
        // Add the value to the TextBox.
        tbInput.value = tbInput.value + e.value;
    }

    function del() {
        // Get the TextBox object.
        var tbInput = document.getElementById("otp");

        // Remove the last char in the TextBox.
        tbInput.value = tbInput.value.substr(0, tbInput.value.length - 1);
    }

</script>

{% endblock %}
