{% extends 'homepage.html' %}
{% block info %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Account Override Requests
                </div>
                <div class="card-body">
                    <h1>Requested Overrides</h1>
                    {% for user in override_requests %}
                        <p>You have a request from {{ user.name }} (userid: <span id="user-id">{{ user.id }}</span>) to assist you. Accept?</p>
                        <button class="action btn btn-success btn-sm">Accept</button>
                        <button class="action btn btn-danger btn-sm">Deny</button>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function request() {
        let action_map = {Accept: "ACCEPTED", Deny: "DENIED"};
        $(".action").click(function (e) {
            let action = action_map[e.target.textContent];
            let user_id = $("#user-id").text();
            $.ajax({
                type: "POST",
                url: "",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', user_id, action},
                success: function callback(response) {
                    location.reload();
                }
            });
        })
    })()
</script>
{% endblock %}
