{% extends 'body.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Welcome, {{request.user}}. Please use the form to create a new transaction.
                </div>
                <div class="card-body">
                    <form method="POST">{%csrf_token%}
                        {% for field in trans_c %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">{{ field.label }}</span>
                            </div>
                            {{ field }}
                        </div>
                        {% endfor %}

                        <label class="control-label">
                        <input class="btn btn-outline-primary" type='submit' value='Save'/>
                        </label>
                        <a href='/trans/' class="btn btn-outline-danger">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
