{% extends 'body.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Welcome, {{request.user}}. Please use the form to create a new transaction.
                </div>
                <div class="card-body">
                    <form method="POST">{%csrf_token%}
                        <label class="control-label">{{trans_c.as_p}}
                            <input type='submit' value='Save'/> <a href ='/trans/'>Cancel</a></p>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
