{% extends 'homepage.html' %}
{% block info %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Fund Transfers
                </div>
                <div class="card-body">
                    <form method="POST">{% csrf_token %}
                        <div class="form-group">
                            {{ transfer_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}