{% extends 'body.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Welcome, {{request.user}}. Please choose the type of transaction you would like to make.
                </div>
                <div class="card-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <form action="/trans/create/" method ='GET'>{%csrf_token%}
                                    <button type='submit' class="btn btn-outline-primary">Debit-Card transactions</button>
                                </form>
                            </div>
                            <div class="col-sm">
                                <form method="POST" action="/trans/create_credit/">{%csrf_token%}
                                    <button type="submit" class="btn btn-outline-primary">Credit-Card transaction</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
