{% extends 'homepage.html' %}
{% block info %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Modify customer bank accounts
                </div>
                <div class="card-body">
                    <div id="modify">
                        <form method="POST" action="/bankaccount/view_customer_bank_accounts/">
                            <div class="form-group row">
                                <label for="account_number" class="col-sm-2 col-form-label">Account number</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="account_number"
                                        value="{{ user_accounts.details.account_number }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="account_type" class="col-sm-2 col-form-label">Account type</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="account_type"
                                        value="{{ user_accounts.details.account_type }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="account_balance" class="col-sm-2 col-form-label">Account balance</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="account_balance"
                                        value="{{ user_accounts.details.account_balance }}">
                                </div>
                            </div>
                            </div>
                            <button type="button" class="btn btn-primary action">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}