{% extends 'homepage.html' %}
{% block info %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    View current accounts
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                {% for heading in account_details.headers %}
                                    <th scope="col">{{ heading }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in account_details.accounts %}
                            <tr>
                                {% for value in data %}
                                    {% if forloop.counter == 1%}
                                        <td>{{ value }}</td>
                                    {% elif forloop.counter == 4%} 
                                        {% if value == 0%}
                                        <td><button id="makePrimary" class="btn btn-primary btn-sm">Make primary</button></td>
                                        {% elif value == -1 %}
                                        <td>Credit Account</td>
                                        {% else %}
                                        <td>Primary Account</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                    
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();


        $("#makePrimary").click(function (e) {
            let account_num = $($(e.target).parents('tr').children()[0]).text();
            $.ajax({
                type: "POST",
                url: "",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', account_num},
                success: function callback(response) {
                    location.reload();
                }
            });
        })



    });
</script>
{% endblock %}