{% extends 'homepage.html' %}
{% block info %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    View customer bank accounts
                </div>
                <div class="card-body">
                    <div id="view_account">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for heading in account_details.headers %}
                                        <th scope="col">{{ heading }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in account_details.accounts %}
                                <tr>
                                    {% for value in data %}
                                            <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}