{% extends 'homepage.html' %}
{% block info %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    View current accounts
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                {% for heading in account_details.headers %}
                                    <th scope="col">{{ heading }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in account_details.accounts %}
                            <tr>
                                {% for value in data %}
                                    {% if forloop.counter == 1%}
                                        <td><a href="" rel="tooltip" title="Update balance">{{ value }}</a></td>
                                    {% else %} 
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
{% endblock %}