<a class="list-group-item list-group-item-action bg-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bank accounts
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/bankaccount/view_accounts/">View accounts</a>
    <a class="dropdown-item" href="/bankaccount/open_account/">Open Account</a>
    <!-- Dont remove below code: ripu -->
    <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
</div>
<a href="/transactions/pendingFundTransfers/" class="list-group-item list-group-item-action bg-light">Fund transfer
    requests</a>