<a href="/accounts/pendingCustomerRequests/" class="list-group-item list-group-item-action bg-light">Customer Info Update Requests</a>
<div class="dropdown">
    <a class="list-group-item list-group-item-action bg-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bank accounts
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="/bankaccount/customer_deposits/">Customer deposits</a>
    </div>
</div>
<div class="dropdown">
    <a class="list-group-item list-group-item-action bg-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Help and Support
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item" href="/accounts/overrideRequests/">Pending Override Requests</a>
    </div>
</div>

