{% extends 'homepage.html' %}

{% block info %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Past Transactions
                </div>
                <div class="card-body">
                    <table class="table table-striped" style="text-align: center;">
                        <tr>
                            <th>Transaction ID</th>
                            <th>From Account</th>
                            <th>View</th>
                        </tr>
                        {%for instance in object_list%}
                        <tr class='clickable-row'>
                            <td>{{instance.from_account_id}}</td>
                            <td>{{instance.request_id}}</td>
                            <td><a class="btn btn-primary btn-sm" href='/transactions/trans/list/{{instance.request_id}}'>View</a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
