{% extends 'homepage.html' %}
{% block info %}
<style>
  select option[disabled] {
    display: none;
}
.errorlist, .hidden {
  display: none;
}
.tab-content{
  margin-top: 13px;
}
</style>
<div class="container">
    <p id="activeId" style="display: none;">{{formId}}</p>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Fund Transfers
                </div>
                <div class="card-body">
                  {% if request_received %}
                    <div class="alert alert-success">
                        <p><strong>Request received. Fund will be transferred upon approval from an employee.</strong></p>
                    </div>
                  {% endif %}
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="true">Account Transfer</a>
                      <a class="nav-item nav-link" id="nav-email-tab" data-toggle="tab" href="#nav-email" role="tab" aria-controls="nav-email" aria-selected="false">Email Transfer</a>
                      <a class="nav-item nav-link" id="nav-phone-tab" data-toggle="tab" href="#nav-phone" role="tab" aria-controls="nav-phone" aria-selected="false">Phone Transfer</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    
                    <div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                      <form method="POST" id="accountTransfer" class="transferForm">
                        {% csrf_token %}
                        {% if account_form.errors %}
                        {% for field in account_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                          <input type = 'hidden' name = "formId" value="ACCOUNT">
                            {{ account_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </form>
                    </div>
                    <div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">
                      <form method="POST" id="emailTransfer" class="transferForm">
                        {% csrf_token %}
                        {% if email_form.errors %}
                        {% for field in email_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                          <input type = 'hidden' name = "formId" value="EMAIL">
                            {{ email_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </form>
                    </div>
                    <div class="tab-pane fade" id="nav-phone" role="tabpanel" aria-labelledby="nav-phone-tab">
                      <form method="POST" id="phoneTransfer" class="transferForm">
                        {% csrf_token %}
                        {% if phone_form.errors %}
                        {% for field in phone_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                          <input type = 'hidden' name = "formId" value="PHONE">
                            {{ phone_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </form>
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  var activeMap = {'ACCOUNT':'#nav-account-tab', 'EMAIL': '#nav-email-tab', 'PHONE':'#nav-phone-tab'}
  var selectedTab = activeMap[$('#activeId').text()];
  $(selectedTab).tab('show')
</script>
{% endblock %}